

#input{
    width: 700px;
    margin: 20px auto;
    height: 60px;
}

#input input{
    border: none;
    width: 90%;
    height: 99%;
    outline: none;

    font-size: 1.5em;
}

#img {
    height: 100%;
    width: 70px;
    cursor: pointer;
}